# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=1.2.99
Encoding=UTF-8
Name=OBServer QT Regtest
Icon=${SNAP}/qt-regtest.ico
MimeType=x-scheme-handler/obsr;
Exec=obsr.qt-regtest %u
Terminal=false
Categories=Office;Finance;
Comment=Observer P2P Cryptocurrency
Keywords=internet;obsr;observer;crypto;blockchain;weather;regtest
