# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=1.1.00
Encoding=UTF-8
Name=OBServer
Icon=${SNAP}/qt.ico
MimeType=x-scheme-handler/obsr;
Exec=obsr.qt %u
Terminal=false
Categories=Office;Finance;
Comment=Observer P2P Cryptocurrency
Keywords=internet;obsr;observer;crypto;blockchain;weather;main
